* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #333;
  color: #00aaff;
}

a {
  color: #00aaff;
  cursor: pointer;
}

button {
  background-color: #00aaff;
  border: 1px solid #333;
  color: #333;
  padding: 5px 10px;
  border-radius: 2px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

header {
  background-color: #00aaff;
  padding: 10px 50px;
}

header a {
  color: #333;
  padding-right: 20px;
}

main {
  padding: 20px 50px;
}
